<center>
      <form action="/search" method="post">
      <input class="form-control input-lg" placeholder="enter your spl query" type="text" name='query' value='<%= @query %>'>
      <button class="btn btn-success btn-lg btn-block" type="submit">Go</button>
      </form>

<h4><small>ENTER SPLUNK QUERY. CLICK GO. TEST QUERY ON KIBANA.</small></h4>
</center>
